body {
   background-color: #E4D192;
}

hr {
    border-style: none none dotted;
    width: 40%;
    border-width: 40px;
    color: #80558C;

}

h1 {
    color: #CBA0AE;
    text-shadow: #80558C 2px 2px;
    font-size: 100px;
    font-family: 'Times New Roman';

}
img {
    width: 800px;
}
