body {
   background-color: #F8F988;
}

hr {
    border-style: none none dotted;
    width: 40%;
    border-width: 40px;
    color: #C0EEE4;

}

h1 {
    color: #FF9E9E;
    text-shadow: #FFCAC8 2px 2px;
    font-size: 100px;
    font-family: 'Times New Roman';

}
img {
    width: 800px;
}
